<template>
  <div class="clock" v-if="current">
    <div class="clock__time">
      {{ currentTime }}
    </div>
    <div class="clock__seconds">
      <div class="clock__seconds--bar" :style="{width: currentSecondsAsProgress + '%'}" />
    </div>
    <div class="clock__date">
      <span class="heavy">{{ currentDayOfWeek }}</span> | {{ currentDay }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Clock',
  data () {
    return {
      current: null, 
      timer: null,
    }
  },
  mounted () {
    this.current = this.now()
    this.timer = window.setInterval(() => {
      this.current = this.now()
    }, this.$appConfig.user.clock.duration * 1000)
    this.$nextTick(function() {
      this.timer
    })
  },
  computed: {
    currentTime () { return this.current.format('h:mm A') },
    currentDay () { return this.current.format('MMMM Do, YYYY') },
    currentDayOfWeek () { return this.current.format('dddd') },
    currentSeconds () { return this.current.format('ss') },
    currentSecondsAsProgress () {
      return this.current.seconds() * (5 / 3)
    }
  },
  methods: {
    now () { return this.$moment() },
  },
  beforeDestroy () {
    window.clearInterval(this.timer)
  }
}
</script>

<style lang="scss" scoped>
.clock {
  &__time {
    font-size: 10em;
    line-height: 1em;
  }

  &__date {
    font-size: 2em;
    padding-left: .5em;
    
  }

  &__seconds {
    height: 1px;
    width: 100%;
    padding: .5em 1em;

    &--bar {
      background-color: rgba(#ccc, 0.6);
      height: 100%;
    }
  }
}
</style>