<template>
  <div class="forecast" v-if="weather">
    <div class="forecast__currently">
      <div class="value">{{ currentTemp }}</div>
      <div class="icon">
        <skycon :condition="weather.currently.icon" />
      </div>
      <div class="low-high muted mono">{{ today | lowHigh }}</div>
      <div class="low-high muted mono">{{ today | precip }}</div>
      <div class="summary">
        <p>
          <span class="label mono muted">Now |</span> {{ weather.currently.summary }}
        </p>
        <p>
          <span class="label mono muted">Later |</span> {{ weather.hourly.summary }}
        </p>
      </div>
    </div>
    <div class="forecast__next">
      <div
        class="forecast__next--day"
        v-for="day in nextDays"
        :key="day.time"
      >
        <div class="muted mono heavy">{{ day.time * 1000 | moment("dddd") }}</div>
        <div class="values">
          <div class="low-high">
            <div class="high">{{ Math.round(day.temperatureHigh) }}°</div>
            <div class="low">{{ Math.round(day.temperatureLow) }}°</div>
          </div>
          <div class="skycon">
            <skycon :condition="day.icon" />
          </div>
        </div>
        <div
          class="precip muted mono"
        >
          <span v-if="notablePrecip(day)">{{ day | precip }}</span>
          <span v-else>&nbsp;</span>
        </div>
        <div class="summary light">
          {{ day.summary }}
        </div>
      </div>
    </div>
  </div>
  <div v-else class="mono muted">Loading forecast data...</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Forecast',
  data () {
    return {
      weather: null,
      timer: null
    }
  },
  computed: {
    darkSkyUrl () {
      const { apiKey, coords } = this.$appConfig.user.weather
      return `/forecast/${apiKey}/${coords}`
    },
    currentTemp () {
      return this.weather.currently.apparentTemperature.toFixed(1) + '°'
    },
    nextDays () {
      return this.weather.daily.data.slice(1, this.$appConfig.user.weather.daysAhead + 1)
    },
    today () {
      return this.weather.daily.data[0]
    }
  },
  mounted () {
    this.updateWeatherData()
    this.timer = window.setInterval(() => {
      this.updateWeatherData()
    }, this.$appConfig.user.weather.duration * 1000)
    this.$nextTick(function() {
      this.timer
    })
  },
  filters: {
    lowHigh ({ temperatureLow, temperatureHigh }) {
      const low = Math.round(temperatureLow).toFixed()
      const high = Math.round(temperatureHigh).toFixed()
      return `Low: ${low}° · High: ${high}°`
    },
    precip ({ precipType, precipProbability, precipAccumulation }) {
      let chance = `${Math.round(precipProbability * 100)}% chance of ${precipType}`
      if (precipAccumulation) chance += ` (${precipAccumulation}")`
      return chance
    }
  },
  methods: {
    notablePrecip ({ precipProbability }) {
      return precipProbability >= this.$appConfig.user.weather.precipThreshold
    },
    updateWeatherData () {
      axios.get(this.darkSkyUrl).then(response => (this.weather = response.data))
    }
  },
  beforeDestroy () {
    window.clearInterval(this.timer)
  }
}
</script>

<style lang="scss" scoped>
.forecast {
  display: flex;

  &__currently {
    position: relative;
    width: 30%;

    .value {
      font-size: 7em;
      line-height: 0.9em;
    }

    .icon {
      position: absolute;
      top: 40%;
      right: 10%;
      opacity: 0.5;
    }

    .low-high {
      padding-left: 8px;
    }

    .summary {
      margin-top: 1.5em;

      p {
        margin: .5em;
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;

        .label {
          text-align: right;
          padding-right: 6px;
        }
      }
    }
  }

  &__next {
    display: flex;
    width: 70%;
    
    &--day {
      width: 25%;
      text-align: center;
      border-left: 1px solid rgba(#ccc, 0.2);
      border-right: 1px solid rgba(#ccc, 0.2);
      padding: 0 4px;

      .values {
        display: flex;
        justify-content: space-around;
        height: 50%;
        align-items: center;

        .low-high {
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-size: 2em;

          .high {
            font-size: 150%;
            font-weight: bolder;
          }
        }
        
        .skycon {
          opacity: 0.8;
        }
      }

      .precip {
        height: 20%;
      }
    }
  }
}
</style>