<template>
  <div class="calendar" v-if="events">
    <functional-calendar />
  </div>
</template>

<script>
export default {
  name: 'GCalendar',
  data () {
    return {
      timer: null,
      events: null,
      calendarData: {}
    }
  },
  mounted () {
    this.loadNextEvents().then(result => this.events = result.items)
    this.timer = window.setInterval(() => {
      this.loadNextEvents().then(result => this.events = result.items)
    }, this.$appConfig.user.calendar.duration * 1000)
    this.$nextTick(function() {
      this.timer
    })
  },
  computed: {
    markedDates () {
      let marked = [];
      this.events.forEach(event => {
        const startDate = this.$moment(event.start.date).format('YYYY-M-D')
        marked.push(startDate)
      })
      return marked;
    }
  },
  methods: {
    loadNextEvents (amount = 50) {
      return this.$gapi.request({
        path: this.$appConfig.system.urls.calendarEvents + this.$appConfig.user.calendar.calendarId + '/events',
        method: 'GET',
        params: {
          calendarId: 'primary',
          timeMin: (new Date()).toISOString(),
          showDeleted: false,
          singleEvents: true,
          maxResults: amount,
          orderBy: 'startTime',
        }
      }).then(response => {
        return response.result
      })
    },
  }
}
</script>

<style lang="scss" scoped>
  ::v-deep .vfc-main-container {
    font-family: unset !important;
    background-color: rgba(#333, 0.4) !important;
    font-size: 80%;
    height: 100% !important;
    width: 100% !important;
    padding: 4px 8px;
    margin: 0;

    .marked-date {
      background-color: purple;
    }

    .vfc-arrow-left, .vfc-arrow-right {
      visibility: hidden;
    }

    .vfc-top-date {
      margin: 1em !important;
      font-weight: bolder !important;
    }
  }

  ::v-deep .vfc-content {
    margin: 0 !important;
  }
</style>
