<template>
  <div class="photo-frame" v-if="currentPhoto">
    <div
      class="photo-frame__image"
    >
      <transition name="appear" mode="out-in">
        <img
          :src="currentPhotoCroppedURL"
          :key="currentPhotoCroppedURL"
        />
      </transition>
    </div>
    <div class="photo-frame__attribution mono" v-if="currentPhoto.mediaMetadata">
      <p>Google Photos | {{ currentPhotoDuration }}</p>
    </div>
  </div>
</template>

<script>
const randomChoice = (size) => (
  Math.floor(Math.random() * size)
);

export default {
  name: 'GPhotoFrame',
  data () {
    return {
      albums: [],
      photos: [],
      currentPhoto: null,
      timer: null,
    }
  },
  mounted () {
    this.loadAlbums().then(albums => this.albums = albums),
    this.loadAlbumPhotos().then(photos => {
      this.photos = photos
      this.currentPhoto = photos[0]
    })
    this.timer = window.setInterval(() => {
      this.currentPhoto = this.randomPhoto()
    }, this.$appConfig.user.photos.duration * 1000)
    this.$nextTick(function() {
      this.timer
    })
  },
  computed: {
    selectedPhotos: function () {
      return this.$appConfig.albums.forEach(albumTitle => {
        this.photos.concat(this.albums[albumTitle])
      })
    },
    cropParam: function () {
      const w = this.$appConfig.user.photos.maxWidth
      const h = this.$appConfig.user.photos.maxHeight
      return `=w${w}-h${h}-c`
    },
    currentPhotoCroppedURL: function () {
      return `${this.currentPhoto.baseUrl}${this.cropParam}`
    },
    currentPhotoDuration: function () {
      return this.$moment(this.currentPhoto.mediaMetadata.creationTime).fromNow()
    },
  },
  methods: {
    loadAlbums () {
      return this.$gapi.request({
        path: this.$appConfig.system.urls.photoAlbums,
        method: 'GET'
      }).then(response => {
        return response.result.albums
      })
    },
    loadAlbumPhotos (albumId) {
      const pageSize = 100
      return this.$gapi.request({
        path: this.$appConfig.system.urls.photoAlbumContents,
        method: 'POST',
        params: {
          albumId,
          pageSize
        }
      }).then(response => {
        console.log('Album contents', response.result)
        return response.result.mediaItems
      })
    },
    loadPhotoDetails (mediaItemId) {
      return this.$gapi.request({
        path: this.$appConfig.system.urls.photoDetails + mediaItemId,
        method: 'GET'
      }).then(response => {
        return response.result
      })
    },
    randomPhoto: function () {
      return this.photos[randomChoice(this.photos.length)]
    }
  },
  beforeDestroy () {
    window.clearInterval(this.timer)
  }
}
</script>

<style lang="scss" scoped>
.photo-frame {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #111;

  &__image {
    height: 100%;
    box-shadow: inset 0 0 512px black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    @keyframes mover {
      from { transform: translateX(40px) }
      to { transform: translateX(-40px) }
    }

    img {
      position: relative;
      z-index: -10;
      height: 100%;
      filter: opacity(70%) brightness(80%);
      animation: mover 15s;

      &.appear-enter-active, &.appear-leave-active {
        transition: opacity 2s;
      }

      &.appear-enter, &.appear-leave-to {
        opacity: 0;
      }
    }
  }

  &__attribution {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: .25em .5em;
    font-size: 80%;

    p {
      opacity: 0.4;
      color: white;
      font-weight: light;
    }
  }
}
</style>
