<template>
  <div class="upcoming" v-if="calendar">
    <div class="upcoming__header">
      <h1>Upcoming</h1>
      <div class="muted mono">
        <p>{{ calendarDescription }}</p>
        <p>Last updated {{ calendarLastUpdated }}</p>
      </div>
    </div>
    <div class="upcoming__events" v-if="nextEvents">
      <div
        class="upcoming__events--event"
        v-for="event in nextEvents"
        :key="event.id"
      >
        <div class="summary">
          <p class="label muted">{{ readableDateRange(event) }}</p>
          <h3>{{ event.summary }}</h3>
          <p class="muted mono">{{ event.location }}</p>
          <p class="muted mono">&#x1f465; {{ event | attendees}}</p>
        </div>
      </div>
    </div>
  </div>
  <div v-else class="muted mono">Loading upcoming events...</div>
</template>

<script>
export default {
  name: 'GUpcoming',
  data () {
    return {
      calendar: null,
    }
  },
  mounted () {
    this.loadNextEvents().then(calendar => this.calendar = calendar)
  },
  computed: {
    nextEvents () {
      return this.calendar.items
    },
    calendarDescription () {
      return `${this.calendar.description} · ${this.calendar.summary}`
    },
    calendarLastUpdated () {
      return this.$moment(this.calendar.updated).fromNow()
    }
  },
  filters: {
    attendees ({ attendees }) {
      if (attendees.length > 2) {
        return `${attendees[0].self ? 'You' : attendees[0].displayName}, ${attendees[1].displayName}, and ${attendees.length - 2} others`
      }
      else if (attendees.length === 1) {
        return `${attendees[0].self ? 'Just You' : attendees[0].displayName}`
      } else if (attendees.length == 2) {
        return `${attendees[0].self ? 'You' : attendees[0].displayName} & ${attendees[1].displayName}`
      }
    },
  },
  methods: {
    loadNextEvents (amount = 10) {
      return this.$gapi.request({
        path: this.$appConfig.system.urls.calendarEvents + this.$appConfig.user.calendar.calendarId + '/events',
        method: 'GET',
        params: {
          calendarId: 'primary',
          timeMin: (new Date()).toISOString(),
          showDeleted: false,
          singleEvents: true,
          maxResults: this.$appConfig.user.calendar.maxEvents || amount,
          orderBy: 'startTime'
        }
      }).then(response => {
        return response.result
      })
    },
    readableDateRange (event) {
      let message = ""

      const startDate = this.$moment(event.start.date).format('MMM Do')
      const endDate = this.$moment(event.end.date).format('MMM Do')

      if (event.start.date) {
        message += `${startDate} to ${endDate}`
      } else if (event.start.dateTime) {
        const startTime = this.$moment(event.start.dateTime).format('h:mm A')
        const endTime = this.$moment(event.end.dateTime).format('h:mm A')
        const human = this.$moment(event.start.dateTime).fromNow()
        message += `${startDate} · ${startTime} - ${endTime} (${human})`
      }
      return message
    }
  }
}
</script>

<style lang="scss" scoped>
.upcoming {
  &__header {
    margin: 1em 1em;
    display: flex;
    align-items: center;

    h1 {
      padding-right: 1em;
    }

    h1, p {
      margin: 0;
    }
  }

  &__events {
    background-color: rgba(#333, 0.4);
    padding: 1em;

    &--event {
      padding: 1em 0;

      .summary {
        h3, p {
          margin: 0;
        }
      }
    }
  }
}
</style>
