<template>
  <div class="motd">
    <div class="label mono">Message of the Day</div>
    <div class="markdown">
      <vue-markdown>{{ motd }}</vue-markdown>
    </div>
  </div>
</template>

<script>
import VueMarkdown from 'vue-markdown'
import motd from '@/assets/motd.md'

export default {
  name: 'Motd',
  components: {
    VueMarkdown
  },
  data () {
    return {
      motd
    }
  }
}
</script>

<style lang="scss" scoped>
.motd {
  font-size: 175%;

  .label {
    margin: 1em 0;
    font-weight: lighter;
    font-size: 80%;
    opacity: 0.6;
  }

  ::v-deep .markdown {
    * {
      margin: 0;
    }

    sub {
      opacity: 0.8;
    }
  }
}
</style>