<template>
  <div id="app" v-if="signedIn">
    <g-photo-frame />
    <div class="panes-wrapper">
      <div class="panes">
        <div class="panes__top-left">
          <clock />
        </div>
        <div class="panes__top-right">
          <g-calendar />
        </div>
        <div class="panes__mid-left">
          <g-upcoming />
        </div>
        <div class="panes__mid-right">
          <motd />
        </div>
        <div class="panes__bottom">
          <forecast />
        </div>
      </div>
    </div>
    <div class="btn-auth-wrapper">
      <google-signin-btn label="Sign Out" custom-class="btn-auth" @click="signOut" />
    </div>
  </div>
  <div class="placeholder" v-else>
    <h3>Sign in to Google to allow Capeable to display your photos and calendar events.</h3>
    <p>(No data is stored on app servers; this is only data from Google viewed locally. You may have to allow pop-ups.)</p>
    <google-signin-btn label="Sign In" @click="signIn" />
  </div>
</template>

<script>
import GPhotoFrame from './components/GPhotoFrame'
import GCalendar from './components/GCalendar'
import Motd from './components/Motd'
import Clock from './components/Clock'
import Forecast from './components/Forecast'
import GUpcoming from './components/GUpcoming'

export default {
  name: 'App',
  components: {
    GPhotoFrame, GCalendar, Motd, Clock, Forecast, GUpcoming
  },
  data () {
    return {
      signedIn: false,
    }
  },
  mounted () {
    this.$gapi.isSignedIn()
      .then(result => {
        this.signedIn = result;
      })
  },
  methods: {
    signIn: function () {
      this.$gapi.signIn()
        .then(user => {
          console.log('Signed in', user)
          this.signedIn = true
        })
        .catch(err => {
          console.log('error', err)
          const errorMessage = `Could not sign in: ${err.error}`
          alert(errorMessage)
        })
    },
    signOut: function () {
      this.$gapi.signOut()
        .then(result => {
          console.log('Signed Out', result)
          this.signedIn = false
        })
    }
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@200;300;400;700&display=swap');

.placeholder {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8em;
  flex-direction: column;
  text-align: center;
}

#app {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: white;
  display: flex;

  .mono {
    font-family: 'Inconsolata', monospace;
  }

  .heavy {
    font-weight: 700;
  }

  .light {
    font-weight: 200;
  }

  .label {
    font-weight: bolder;
  }

  .muted {
    font-size: 16px;
    opacity: 0.6;
  }

  .text-center {
    text-align: center;
  }

  .panes-wrapper {
    padding: 2em;
    width: 100%;
  }

  .btn-auth-wrapper {
    position: absolute;
    bottom: 8px;
    left: 1em;
  }

  .btn-auth {
    background-color: transparent;
    transform: translateX(-3em);
    transition: all .5s ease;
    box-shadow: none;

    .icon {
      visibility: hidden;
    }

    &:hover {
      background-color: white;
      transform: translateX(0);

      .icon {
        visibility: unset;
      }
    }
  }

  .panes {
    display: grid;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(10, 10%);

    &__top-left {
      grid-column: 1 / span 4;
      grid-row: 1 / span 2;
      text-align: left;
    }

    &__top-right {
      grid-column: 5 / span 1;
      grid-row: 1 / span 2;
    }

    &__mid-left {
      grid-column: 1 / span 3;
      grid-row: 3 / span 3;
      text-align: left;
    }

    &__mid-right {
      grid-column: 4 / span 3;
      grid-row: 7 / span 2;
      text-align: right;
    }

    &__bottom {
      grid-column: 1 / span 5;
      grid-row: 9 / span 2;
      text-align: left;
      padding-bottom: 1em;
    }
  }
}
</style>
